@import url('https://fonts.googleapis.com/css2?family=Yantramanav&display=swap');
body {
    text-align: center;
    background-color: #a3c4bc;
    font-family: 'Yantramanav', sans-serif;
    color: #e7efc5;
}

p {
    font-size: large;
}

button {
    height: 100%;
    width: 15vw;
    border-radius: 5px;
    border-style: 1px solid black;
    overflow: auto;
    background-color: #463f3a;
    color: #e7efc5;
}

a {
    text-decoration: none;
    color: #e7efc5;
}

a:hover{
    color: #e7efc5;
    text-decoration: none;
}

.buttons {
    height: 10vh;
    content: attr(data-type);
}




/* Styling for the game area of the main page */

.gameArea{
    width : 90%;
    height: 50vh;
    margin: auto;
    background-color: #3472e6;
}

.gameArea > p{
    position: relative;
    top: 50%;
}

.gameArea > h2 {
    position: relative;
    top: 25%;
}

/* Styling for the score tally system */

.score {
    width: 33%;
    float: left;
}

/* Styling for the rules of the game on the landing page */

.rules{
    height: 60vh;
    width: 90vw;
    background-color: #3472e6;
    margin: auto;
}

.rulesContent {
    padding-top: 10%;
}

/* The styling for the modal class */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
  /* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
  
  /* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}




/* Styling for when the device width goes below 400px */

@media (max-width: 400px) {
    .buttons{
        height: 15vh;
        width: 90%;
        margin: auto;
    }
    button{
        height: 50%;
        width: 30%;
        text-align: center;
        overflow: auto;
    }
}