@import url('https://fonts.googleapis.com/css2?family=Yantramanav&display=swap');
body {
    text-align: center;
    background-color: #a3c4bc;
    font-family: 'Yantramanav', sans-serif;
    color: #e7efc5;
}
.buttons {
    height: 10vh;
    content: attr(data-type);
}
button {
    height: 100%;
    width: 15vw;
    border-radius: 5px;
    border-style: 1px solid black;
    overflow: auto;
    background-color: #463f3a;
    color: #e7efc5;
}
.game-area{
    width : 90%;
    height: 50vh;
    margin: auto;
    background-color: #3472e6;
}
 .score {
    width: 50%;
    float: left;
 }
p {
    font-size: large;
}
.game-area > p{
    position: relative;
    top: 50%;
}
.game-area > h2 {
    position: relative;
    top: 25%;
}
@media (max-width: 400px) {
    .buttons{
        height: 15vh;
        width: 90%;
        margin: auto;
    }
    button{
        height: 50%;
        width: 30%;
        text-align: center;
        overflow: auto;
    }
}